<!DOCTYPE html> 
<html>
<head>
<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes" />
    <link rel="stylesheet" href="/AHalf/application/index/view/dist/css/jquery.mobile-1.4.5.css" />
    <script src="/AHalf/application/index/view/dist/js/jquery.js"></script>
    <script src="/AHalf/application/index/view/dist/js/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="/AHalf/application/index/view/dist/css/bootstrap.min.css" media="screen"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 799px)" href="/AHalf/application/index/view/dist/css/mobile-tablet.css" />
</head>
<body>

    <div data-role="page" id="homepage">

        <div data-role="header"data-position="fixed">
            <a href=""data-icon="home"></a>
            <h1 class="ui-title">半对半</h1>
            <a href=""data-icon="home"></a>
        </div>
        <div data-role="content">

            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <div class="thumbnail" style="width:90%;margin:0 0 0 5%;">

                            <img src=" http://localhost/AHalf/application/index/view/dist/imags/s1.png" class="img-rounded" style="width:100%;height:100%"
                                 data-toggle="tooltip" title="an image" data-placement="top">



                        <div class="panel-body" style="margin:-10px 0 0 0;">
                            <p> 同城热恋，我和你在这里 </p>
                        </div>
                        <div align="center">
                            <p>
                                <a href="#" class="btn btn-info" role="button"  data-toggle="modal" data-target="#myModal" >收听一下 ≧▽≦
                                </a>
                        </div>
                    </div>
                </div>

                <div class="ui-block-b">
                    <div class="thumbnail" style="width:90%;margin:0 0 0 5%;">

                        <img src=" http://localhost/AHalf/application/index/view/dist/imags/s2.png" class="img-rounded" style="width:100%;height:100%"
                             data-toggle="tooltip" title="an image" data-placement="top">



                        <div class="panel-body" style="margin:-10px 0 -10px 0;">
                            <p> 创意寿司，美味一线牵</p>
                            <div class="row">
                                div
                            </div><img src="" alt="" width="20px;"height="20px;">
                                <a href="#" class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext  ui-btn-icon-right" >图标</a>
                            </p>
                             <div>

                                <a href="#" class="btn btn-info" role="button"  data-toggle="modal" data-target="#myModal" >收听一下 ≧▽≦
                                </a>
                        </div>
                    </div>

        </div>
        <div data-role="footer" data-position="fixed">
             <div data-role="navbar">
                 <ul>
                     <li><a href="http://localhost/AHalf/public/index.php/index/index/index/"data-icon="home">首页</a></li>
                     <li><a href="http://localhost/AHalf/public/index.php/index/index/doubleJoin/"data-icon="heart">对对拼</a></li>
                     <li><a href="http://localhost/AHalf/public/index.php/index/index/takePhoto/"data-icon="camera">我要拍</a></li>
                     <li><a href="http://localhost/AHalf/public/index.php/index/index/myChat/"data-icon="comment">聊天</a></li>
                     <li><a href="http://localhost/AHalf/public/index.php/index/index/myHome/"data-icon="user">我的</a></li>

                 </ul>
             </div>
        </div>
    </div>



</body>
</html>
