<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes" />
    <script src="/AHalf/application/index/view/dist/js/jquery.js"></script>

</head>
<body style="width:100%; height:100%;background: url('/AHalf/public/static/images/background.jpg');background-size:100% 100%;">

<a href="/AHalf/public/index.php/index/index/home/" style="position: absolute;top: 31%;left: 50%;margin-left: -38px;">
    <img width="70" width="70" src="/AHalf/public/static/images/home.png" alt="">
</a>

<a href="/AHalf/public/index.php/index/makedouble/index/" style="position: absolute;top: 50%;left: 50%;margin-left: -116px;">
    <img width="70" width="70" src="/AHalf/public/static/images/pp.png" alt="">
</a>

<a href="/AHalf/public/index.php/index/index/takePhoto/" style="position: absolute;top: 50%;left: 50%;margin-left: 42px;">
    <img width="70" width="70" src="/AHalf/public/static/images/camera.png" alt="">
</a>

<a href="" style="position: absolute;top: 67%;left: 50%;margin-left: -38px;">
    <img width="70" width="70" src="/AHalf/public/static/images/loc.png" alt="">
</a>
</body>
</html>