{extend name="public:base" /}
{block name="main"}
	<div data-role="content">
    	<div>
            <ul data-role="listview"data-inset="true">
                <li><a href="#"data-role="button"><img src="http://localhost/AHalf/application/index/view/dist/imags/2012.jpg" class="img-circle"/><h2>用户昵称</h2>
                    <p>照片2张，拼照1次，赞3次</p>
                    </a>
                </li>
            </ul>
        </div>
        <div>
             <ul data-role="listview" data-inset="true">
            <li><a href="message.html" data-role="button" data-icon="audio">任务通知</a></li>
             <li><a href="friends.html"data-role="button" data-icon="location">我参与的</a></li>
             <li><a href="friends.html"data-role="button" data-icon="comment">我的好友</a></li>
            </ul>
        </div>
        <div>
          <ul data-role="listview" data-inset="true">
            <li><a href="focuson.html"data-role="button" data-icon="recycle">摇一摇</a></li>
             <li><a href="fans.html"data-role="button" data-icon="calendar">我的时间轴</a></li>
             <li><a href="fans.html"data-role="button" data-icon="cloud">我的关系网</a></li>

            </ul>
        </div>
        <div>
            <ul data-role="listview"data-inset="true">
                <li><a href="setting.html"data-role="button" data-icon="gear">设置</a></li>
            </ul>
        </div>
        <div>
            <ul data-role="listview"data-inset="true">
                <button type="button" class="btn btn-danger">退出</button>
            </ul>
        </div>

    </div>
{/block}

