<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>jQuery Mobile Web 应用程序</title>
<link rel="stylesheet" href="jquery.mobile-1.4.5.css" />
<script src="jquery.js"></script>
<script src="jquery.mobile-1.4.5.js"></script>

</head> 
<body> 
<div data-role="page">
	<div data-role="header">
        <h1 style=" alignment-baseline:text-after-edge border-left-color:!important">发现好友</h1>
        <a href="#"data-role="button">扫二维码添加</a>
	</div>
    
	<div data-role="content" data-inset="true">	
    <div>
        <ul data-role="listview"data-inset="true">
            <li><a href="#"data-role="button" >添加通讯录好友</a></li>
        </ul>
        </div>
			
	</div>
   
    </div>

</body>
</html>
