<!DOCTYPE html> 
<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="jquery.mobile-1.4.5.css" />
<script src="jquery.js"></script>
<script src="jquery.mobile-1.4.5.js"></script>
</head> 
<body class="ui-body" style="background-color:#FFFFFF" > 

 <div data-role="page" id="login">
            <!--header开始-->
            <div data-role="header">
                <h1>拼照</h1>
                <a href="photo.html" class="ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all">返回</a>
            </div>
            <div data-role="content">
           
           </div>   
	<div data-role="footer" data-position="fixed">
     <div data-role="navbar">	
    <ul>
        <li><a href="#"data-icon="arrow-u">上</a></li>
		 <li><a href="#"data-icon="arrow-d">下</a></li>	
          <li><a href="#"data-icon="arrow-l">左</a></li>
          <li><a href="#"data-icon="arrow-r">右</a></li>
             </ul>	
            </div>
	</div>
</body>
</html>
