<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>jQuery Mobile Web 应用程序</title>
  
 <link rel="stylesheet" href="jquery.mobile-1.4.5.css" />
<script src="jquery.js"></script>
<script src="jquery.mobile-1.4.5.js"></script>
</head> 
<body>


<div data-role="page" id="minepage">
	<div data-role="header" data-position="fixed">
	
    <h1 class="ui-dialog">我</h1>
    <a href="addFriends.html"data-role="content">添加好友</a>
	</div> 
	<div data-role="content">
    	<div>
    <ul data-role="listview"data-inset="true">
    <li><a href="#"data-role="button"><img src="2012.jpg"/><h2>用户昵称</h2>
        <p>照片2张，拼照1次，赞3次</p>
        </a>
        </li>
        </ul>
        </div>
        <div>
         <ul data-role="listview" data-inset="true">
        <li><a href="message.html" data-role="button">通知</a></li>
		 <li><a href="friends.html"data-role="button">好友动态</a></li>
        </ul>
        </div>
        <div>
      <ul data-role="listview" data-inset="true">
        <li><a href="focuson.html"data-role="button">关注</a></li>
		 <li><a href="fans.html"data-role="button">粉丝</a></li>
         
        </ul>   
        </div>
        <div>
        <ul data-role="listview"data-inset="true">
        <li><a href="setting.html"data-role="button">设置</a></li></ul>
    </div>
    </div>
	<div data-role="footer" data-position="fixed">
     <div data-role="navbar">	
    <ul>
        <li><a href="homepage.html"data-icon="plus">首页</a></li>
		 <li><a href="discover.html"data-icon="minus">发现</a></li>	
          <li><a href="photo.html"data-icon="delete"></a></li>
          <li><a href="chat.html"data-icon="check">聊天</a></li>
          <li><a href="mine.html"data-icon="info">我的</a></li>
             </ul>	
            </div>
	</div>
</div>



</body>
</html>
