<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>jQuery Mobile Web 应用程序</title>
<link rel="stylesheet" href="jquery.mobile-1.4.5.css" />
<script src="jquery.js"></script>
<script src="jquery.mobile-1.4.5.js"></script>

</head> 
<body> 

<div data-role="page" id="homepage">
	<div data-role="header"data-position="fixed">
		<h1 class="ui-title">设置</h1>
        <a href="mine.html" class="ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all">返回</a>
	</div>

	<div data-role="content">	
    <div>
        <ul data-role="listview" data-inset="true">
            <li><a href="#"data-role="button" >账号管理</a></li>
            <li><a href="#"data-role="button" >账户安全</a></li>
            <li><a href="#"data-role="button" >消息设置</a></li>
        </ul>
        </div>
		<div >
        <ul data-role="listview"data-inset="true">	
            <li><a href="#"data-role="button">隐私</a></li>
            <li><a href="#"data-role="button">通用设置</a></li>
            <li><a href="#"data-role="button">客服中心</a></li>
		</ul>
        </div>
        <a data-role="button">退出</a>		
	</div>
   
    </div>
	
</div>

<div data-role="page" id="page2">
	<div data-role="header">
		<h1>第 2 页</h1>
	</div>
	<div data-role="content">	
		内容		
	</div>
	<div data-role="footer">
		<h4>页面脚注</h4>
	</div>
</div>

<div data-role="page" id="page3">
	<div data-role="header">
		<h1>第 3 页</h1>
	</div>
	<div data-role="content">	
		内容		
	</div>
	<div data-role="footer">
		<h4>页面脚注</h4>
	</div>
</div>

<div data-role="page" id="page4">
	<div data-role="header">
		<h1>第 4 页</h1>
	</div>
	<div data-role="content">	
		内容		
	</div>
	<div data-role="footer">
		<h4>页面脚注</h4>
	</div>
</div>

</body>
</html>
